<html>

<head>
  <title>设备码充值</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <link href="https://cdn.tqdianbiao.com/public/Client/detail-pay.css?1682624398" rel="stylesheet">
  <link href="https://cdn.tqdianbiao.com/public/Client/bootstrap.min.css?1682624398" rel="stylesheet">
  <link href="https://cdn.tqdianbiao.com/public/Client/jquery.mloading.css?1682624398" rel="stylesheet">
  <script type="text/javascript">		var GLOBAL = {
      RES_VERSION: "1682624398",
      ADDRESS: "bcd7am211016098302",
      QUERY_ORDER_STATE_URL: "/client/order_state/id/bcd7am211016098302",
      LASTEST_PAYMENT_URL: "/client/lastest_payment/id/bcd7am211016098302",
    };
  </script>
</head>

<body>
  <div style="float:left" id="tips">
    <marquee>
      <font style="font-size:12px">该二维码仅用于电费充值，谨防非法人员以投资理财、游戏充值、兼职刷单等理由诱骗支付。</font>
    </marquee>
  </div>
  <div id="vm_pay" v-cloak=""> <!-- 表盘显示方式 -->
    <div class="dashboard" v-show="dashboard.show"
      style="box-shadow: 3px 3px 10px gray; background: -webkit-linear-gradient(left, #E8E8E8, #EFEFEF); background: -o-linear-gradient(right, #EFEFEF, #E8E8E8); background: -moz-linear-gradient(right, #EFEFEF, #E8E8E8); background: linear-gradient(to right, #EFEFEF, #E8E8E8);">
      <div v-html="dashboard.title"></div>
      <div class="numberBox"> <img class="displayNum" v-bind:src="getImage(digit)" v-for="digit in digits" /> </div>
      <div class="content">
        <table>
          <tr v-for="item in dashboard.items">
            <td>
              <div class="item" v-if="item">
                <div class="item-title" v-html="item.title"></div>
                <div class="item-value" v-html="item.value"></div>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="pay-panel">
        <table v-if="payment.show" class="pay-record">
          <tr>
            <td class="payment-time">{{payment.time}}</td>
            <td class="payment-opration" v-html="payment.opration"></td>
            <td v-html="payment.state" class="payment-state"></td>
          </tr>
        </table>
      </div>
      <div class="pay-panel">
        <div>
          <table class="form-group has-success">
            <tr>
              <td style="vertical-align:middle;"> <label class="control-label" for="amount">金额：</label> </td>
              <td> <input style="height:30px" type="text" class="form-control" name="amount" placeHolder="0.00" /> </td>
            </tr>
          </table>
        </div>
        <div v-for="(config,idx) in configs" v-on:click="onClickPayment(idx)" v-if="config.show">
          <table style="margin-top:10px;">
            <tr>
              <td style="text-align:left;"> <img v-bind:src="getImage(config.name)" /> {{config.text}}
                <label style="color:#FF0000;">{{config.on?"":"[未开通]"}}</label>
              </td>
              <td style="text-align:right;"> <img style="width:30px" v-bind:src="getPaymentCheck(idx)" /> </td>
            </tr>
          </table>
        </div>
      </div>
      <div style="padding:10px 10px;"> <a name="payBtn" type="button" class="btn btn-primary btn-block"
          v-on:click="onPay">确认付款</a> </div>
    </div>
  </div>
  </div>
  <div class="browser_warp_android" style="display: none;">
    <div class="browser_bg"></div>
    <div class="open_browser_tips"> <img
        data-src="https://cdn.tqdianbiao.com/public/images/android_browser_tips.png?1682624398" alt="在浏览器打开" /> </div>
  </div>
  <div class="browser_warp_ios" style="display: none;">
    <div class="browser_bg"></div>
    <div class="open_browser_tips"> <img
        data-src="https://cdn.tqdianbiao.com/public/images/ios_browser_tips.png?1682624398" alt="在浏览器打开" /> </div>
  </div>
</body>
<script src="https://cdn.tqdianbiao.com/public/Client/vue-2.4.2.min.js?1682624398"></script>
<script src="https://cdn.tqdianbiao.com/public/Client/jquery-1.12.4.min.js?1682624398"></script>
<script src="https://cdn.tqdianbiao.com/public/Client/jquery.mloading.js?1682624398"></script>
<script src="https://cdn.tqdianbiao.com/public/Client/client.js?1682624398"></script>
<script type="text/javascript">    var vm_pay = new Vue({
    el: '#vm_pay',
    data: {
      "dashboard": { "show": true, "title": "\u5269\u4f59\u91d1\u989d \uff08\u5143\uff09", 
      "value": 9.8, 
      "items": [{ "title": "\u8868\u53f7",
       "value": "211016098302 <font color=\"green\">\u5728\u7ebf<\/font>" }, 
        { "title": "\u91c7\u96c6\u65f6\u95f4",
         "value": "2023-05-14 17:00:20" },
         { "title": "\u6237\u540d", 
         "value": "6" }, 
         { "title": "\u603b\u7535\u91cf", 
         "value": "2076.20 kWh" }] }, 
         "configs": [{ "name": "tq_alipay", "on": true, "show": true, "checked": false, "text": "\u652f\u4ed8\u5b9d" }, 
         { "name": "tqpay", "on": true, "show": true, "text": "\u5fae\u4fe1\u652f\u4ed8", "checked": true }],
          "payment": { "show": true, "time": "2023\u5e7404\u670829", "opration": "\u5145\u503c 50.00\u5143", "state": "<font color=\"green\">\u5145\u503c\u6210\u529f<\/font>", "finished": true }
    },
    methods: {
      getPaymentCheck: function (idx) {
        if (this.$data.configs[idx].checked) {
          return getImage("checkbox-checked");
        } else {
          return getImage("checkbox-unchecked");
        }
      },
      onClickPayment: function (idx) {
        if (this.$data.configs[idx].on) {
          $.each(this.$data.configs,
            function (idx, config) {
              config.checked = false;
            });
          this.$data.configs[idx].checked = true;
        }
      },
    },
    computed: {
      digits: function () {
        var digits = ["none", "none", "none", "none", "none", "none", "dot", "none", "none"];
        var length = digits.length;
        var value = this.dashboard.value.toFixed(2).toString();

        if (value.length > length) {
          $.each(digits, function (idx, digit) {
            if (digit == "none") digits[idx] = "9";
          })
          return digits;
        }
        var reversed = value.split('').reverse();
        reversed[2] = "dot";
        for (var i = 0; i < reversed.length; i++) {
          digits[length - 1 - i] = reversed[i];
        }
        return digits;
      }
    }
  });

  function initElements() {
    var $amount = $("input[name=amount]");
    $amount.blur(function () {
      if (this.value != "") {
        this.value = Number(this.value);
        if (this.value == 0) this.value = "";
      }
    });
    $amount.on('input propertychange', function () {
      this.value = format_num(this.value);
    });
  };

  initElements();

  function getSelectType() {
    var payType = false;
    $.each(vm_pay.configs, function (idx, config) {
      if (config.checked) payType = config.name;
    });
    return payType;
  }

  function onPay() {
    var payType = getSelectType();
    if (payType == "alipay" && isMicroMessenger()) {
      showOpenInBrowser();
      return;
    }

    var $amounts = $("input[name='amount']");
    var amount = 0;
    $amounts.each(function () {
      if (Number($(this).val()) > 0) amount = Number($(this).val());
    });
    if (amount <= 0) { showError("请输入充值金额"); return; }
    postPayInfo(amount, payType);
  }

  //先检查再创建订单
  function postPayInfo(amount, payType, confirm = 0) {
    showLoading("正在创建订单...");
    $.ajax({
      type: 'post',
      url: "/client/pay/id/bcd7am211016098302",
      data: { amount: amount, payType: payType, confirm: confirm },
      dataType: 'json',
      success: function (data) {
        if (!data) { showError("请求失败"); return; }
        if (data.status != 1) { showError(data.info); return; }
        var respData = data.info.data;
        if (respData.tip) {
          showConfirm(respData.title, respData.tip, function () {
            postPayInfo(amount, payType, 1);
          }, function () {
            hideLoading();
          });
        } else {
          OnPayRequestSuccess(data.info);
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        showError("请求失败");
      }
    });
  }
  setTimeout(RefreshLastestPayment, 3000);
  setTimeout(function () { $("#tips").hide(); }, 10000);
</script>
<html>